
<div class="col-md-4 col-md-offset-4">
    <h2>编辑帖子</h2>

    <hr>
    <%= form_for @post do |f| %>
    内容
    <%= f.text_field :content %>
    <br>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
